@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.cartItem {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    &Btn {
        margin-top: auto;
        font-weight: bold;
        text-align: center;
        max-width: fit-content;
         
    }
    &Image {
        width: 100%;
        height: auto;
        @media screen and (min-width: 768px) {
            width: 20%;
        }
         
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &Info {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        @media screen and (min-width: 768px) {
            width: 80%;
        }
    }
    &Name {
        font-size: 16px;
        margin: 0;
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }
    &Number {
         
        padding: 10px 15px;
        // border-right: 1px solid gray;
        // border-left: 1px solid gray;
        background-color: #fddbf7;
        margin: 0;
    }
    &QuantityBtn {
        
        font-size: 18px;
        border: 0;
        // border: 1px solid gray;
        // padding: 5px;
        // border-radius: 10%;
        cursor: pointer;
        padding: 7px 15px;
        background-color: white;
         
    }
    &Quantity {
        max-width: fit-content;
        display: flex;
        border: 1px solid #dfdada;
        align-items: center;
        font-size: 14px;
        margin-top: 20px;
    }
    &Btn {
        background-color: transparent;
        border: 0;
        font-size: 16px;
        text-decoration: underline;
        cursor: pointer;
        padding-top: 3px;
        height: fit-content;
        margin-top: 20px;

    }
    &ColLeft {
        width: 50%;
    }
    &ColRight {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;  
    }
    &Subtotal {
        font-size: 16px;
        font-weight: bold;
    }
    &Price {
        font-size: 14px;
    }
    &Size {
        font-size: 14px;
        color: #666;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    &bagBtn {
        background-color: black;
        color: white;
        padding: 15px 30px;
        display: block;
        text-align: center;
        border-radius: 50px;
        margin-top: 20px;
        font-weight: bold;
        &:hover {
            background-color: gray;
        }
      
        &.disabledBtn {
          opacity: 0.5;
          pointer-events: none;
          cursor: not-allowed;
        }
      }
}

.summary {
     
    &Total, &Delivery, &Subtotal {
        font-weight: bold;
    }
    p {
        margin-bottom: 10px;
    }
    &Button {
        font-size: 18px;
        position: relative;
        display: inline-block;
        margin-top: 30px;
        font-weight: bold;
        &::after {
            content: "";
            border-bottom: 2px solid #ed60e6;
            width: 100%;
            padding-bottom: 10px;
            display: block;
        }
         
    }
}