@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.products {   
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0;
    justify-content: center;
     
    @media screen and (min-width: 1280px) {
        padding: 50px 20px;
    }
    &Wrapper {
        position: relative;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }  
}
.card {
    position: relative;
    width: 100%; 
    color: #05112b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-start;
    border-radius: .1875rem;
    // padding: 20px;
    box-sizing: border-box;
    @media screen and (min-width: 500px) {
        padding: 0 10px;
        max-width: calc((100% - 40px) / 2);
        
    }
    @media screen and (min-width: 768px) {
        padding: 0 10px;
        max-width: calc((100% - 60px) / 3);
        
    }
    @media screen and (min-width: 1280px) {
        max-width: calc((100% - 60px) / 4);
    }
    &Price {
        font-weight: bold;
        margin-bottom: 20px;
    }
    &Header {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        box-sizing: content-box;
        flex-grow: 1;
        
    }
    &Link {
        margin-top: auto;
        @include button-primary($pink, gray, $lightpink);
        text-align: center;
        max-width: fit-content;
         
    }
    &Title {
        font-size: 20px;
        font-weight: bold;
    }
    &Image {
        display: block;
        width: 100%;
        height: auto;
        background-color: #fff7f2;
    }
     
}
 