@use './variables.scss' as *;

@mixin button-primary(
  $bg-color: $pink,
  $hover-color: #414142,
  $text-color: #fff
) {
  text-align: center;
  position: relative;
  display: inline-block;
  justify-content: center;
  background-color: $bg-color;
  color: $text-color;
  padding: 13px 20px;
  font-size: 14px;
  cursor: pointer;
   
  border: 0;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  
  &:hover {
    background-color: $hover-color;
    color: $text-color;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    border-color: $white;
  }

  &:focus-visible {
    outline: 0;
    text-decoration: underline;
  }
}
