@use '../../styles/variables' as *;
.formContainer {
    position: relative;
    background-color: #fddbf6;
    padding: 30px;
    // border-radius: 10px;
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    max-width: 100%; 
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
       max-width: 50%;
    }
}
.success {
    background-color: #e6ffed;
    color: #05603a;
    border: 1px solid #abefc6;
    padding: 10px 16px;
    border-radius: 6px;
    margin: 12px 0;
    font-weight: 600;
}
.successLink {
    text-decoration: underline;
    margin-left: 6px;
}
.loginLink {
    display: inline-block;
    margin-top: 8px;
    text-decoration: underline;
}
.form {
    padding-top: 20px;
    margin-bottom: 30px;
    &Row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    &Input {
        font-weight: 200;
        background-color: #fff;
        color: black;
        border: 1px solid #dddfe2;
        line-height: 16px;
        font-size: 17px;
        padding: 14px 16px;
        border-radius: 6px;
        &:focus-visible {
            outline: 0;
            border: 1px solid $black;
            box-shadow: inset 0 0 0 2px $black, 0 0 0 6px $orange;
        }
    }

    &Label {
        display: block;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    
    &Submit {
        position: relative;
        display: inline-block;
        justify-content: center;
        background-color: green;
        color: #fff;
        padding: 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 6px;
        border: 0;
        width: 100%;
        font-weight: bold;
         
        &:hover {
            background-color: $blue; 
            color: #fff;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px;
            border-color: $white;
             
        }
        &:focus-visible {
            outline: 0;
            text-decoration: underline;
        }
    }
    &List {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #666;
        line-height: 1.5;
        margin-top: 5px;
        
    }
     
}
.passwordToggle {
    background-color: transparent;
    border: 0;
    margin-left: 30px;
}