.bag {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 50px 0px;
    gap: 50px;
    @media screen and (min-width: 1280px) {
        max-width: 1480px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }

    &Left {
        width: 100%;
        width: 100%;
        padding: 30px 20px;
        border-right: 2px solid #fddcf7;
        border-bottom: 2px solid #fddcf7;
        @media screen and (min-width: 768px) {
            width: calc(70% - 50px);
        }
    }

    &Right {
        width: 100%;
        padding: 30px 30px;
        // background-color: #fddcf7;
        border-right: 2px solid #fddcf7;
        border-bottom: 2px solid #fddcf7;
        @media screen and (min-width: 768px) {
            width: calc(30% - 50px);
             
        }
    }

    &Title, &Summary {
        font-size: 24px;
        font-weight: bold;
    }

    &Summary, &Payment, &Delivery {
        padding-bottom: 30px;
    }

    &Line {
        margin: 20px 0;
    }
    
    &Btn {
        // background-color: black;
        // color: white;
        // padding: 15px 30px;
        // display: block;
        // text-align: center;
        // border-radius: 50px;
        // margin-top: 20px;
        // font-weight: bold;
        // &:hover {
        //     background-color: gray;
        // }
        &Disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
    &Delivery, &Payment, &Summary {
        border-bottom: 1px solid #e3e3e3;
    }
    &DeliveryTitle {
         
    }
    &PaymentTitle {
        
        margin-top: 20px;
    }
    &SummaryTitle {
        margin-top: 20px;
    }
}
.disabledSection {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(80%);
}
 