@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.contact {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20;
    background-color: #cf267b;
    color: white;
    border-bottom: 1px solid #fddbf4;
    &Title {
        font-size: 30px;
        font-weight: bold;
    }
    
    .button {
        border: 1px dashed white;
        @include button-primary(#682f27, #330b0b, white);
        max-width: fit-content;   
    }
    
    &InnerContent {
        max-width: 1280px;
        margin: 0 auto;
        // padding: 50px 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    } 
    &Left {
        width: 100%;
        padding: 50px;
        @media screen and (min-width: 768px) {
            width: 60%;
            padding: 50px 50px 50px 0;
             
        }
        @media screen and (min-width: 1024px) {
            width: 60%;
        }
    }
    &Right {
        position: relative;
        width: 100%;
        display: none;
        background-image: linear-gradient(0deg, #0285ac 0, #fafafa);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
        height: 100%;
        overflow: hidden;
        position: absolute;
        right: 0;
        @media screen and (min-width: 768px) {
            width: 40%;
            display: block;
             
        }
    }
    &Image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
     
}
.contactForm {
    padding: 50px 0;
    width: 100%; 
    button {
        background-color: red;
    } 
    .formGrid {
        display: grid;
        grid-template-columns: 1;
        gap: .5rem;
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    .formGroup {
        display: flex;
    }
    label {
        display: block;
        display: none;
    }
    input, select {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
        padding: .693rem .75em;
        color: inherit;
        box-sizing: border-box;
    }
    textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        font-size: 1rem;
        line-height: 1.5;
        padding: .693rem .75em;
        box-sizing: border-box;
    }
    .column {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        height: 100%;
    }
    .formGroupTextarea {
        height: 100%;
    }
     
    .row {
        display: flex;
        width: 100%;
         
    }
}