@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.product {
    position: relative;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    @media screen and (min-width: 768px) {
        display: flex;
    }
    @media screen and (min-width: 1280px) {
        padding: 50px 0px;
    }
    &BackBtn {
        text-decoration: underline;
        font-weight: bold;
    }
    &Name {
        font-size: 18px;
        font-weight: bold;
        @media screen and (min-width: 768px)  {
            font-size: 24px;
        }
    }
    &Col {
        &.right {
            width: 100%;
            padding: 20px 0 0 0;
            
            @media screen and (min-width: 768px) {
                width: 50%;
                padding: 50px 30px;
            }
        }
        &.left {
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 50%;
            }
        }

    }
    &Image {
        display: block;
        width: 100%;
        height: auto;
    }
   
    &Link {
        @include button-primary(black, gray, white);
         
    }
     
    &Price {
        font-weight: bold;
        margin-bottom: 20px;
    }
    &Favorite {
        @include button-primary($pink, gray, $lightpink);
        svg {
            width: 15px;
            height: fit-content;
            fill: rgb(255, 141, 215);
            border: none;
        }
    }
    &SizeSelector {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &SizeLabel {
        font-weight: bold;
        font-size: 16px;
    }
    &SizeSelect {
        padding: 8px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        cursor: pointer;
        &:focus {
            outline: none;
            border-color: $pink;
        }
        option:disabled {
            color: #999;
            background-color: #f5f5f5;
        }
    }
    &StockInfo {
        margin-top: 10px;
        margin-bottom: 15px;
        p {
            margin: 0;
            font-size: 14px;
        }
    }
    &Buttons {
        display: flex;
        flex-direction: row;
        gap: 10px;
         
    }
    &Link {
        @include button-primary($pink, gray, $lightpink);
         
    }
}