@use '../../styles/mixins.scss' as *;
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/images/cookieez.png");
    background-repeat: repeat;        /* repeat | repeat-x | repeat-y | no-repeat */
    background-size: auto;
    max-height: 500px;
    background-position: 50% 50%;       /* start tiling from center */
    background-size: auto;  
    padding-top: 30px;
    &Info {
        background-color: #fff;
        padding: 30px;
        max-width: 300px;
        margin-left: 40px;
        border-radius: 3px; 
    }
    &Text {
        margin-bottom: 20px;
    }
    &Title {
        font-size: 24px;
        font-weight: bold;
    }
    &Link {
        font-weight: bold;
        text-decoration: none;
        outline: 0;
        display: inline-block;
        line-height: 1;
        &::after {
            padding-bottom: 10px;
            border-bottom: 2px solid rgb(237, 96, 230);
            content: "";
            display: block;
            width: 100%;
            
        }
    }

}
